<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <h1>Q2 Vesting</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div *ngIf="isConnected"  class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <div class="network-select dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="networkDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{currentNetwork}}
        </a>
        <ul class="dropdown-menu" aria-labelledby="networkDropdown">
          <li><a class="dropdown-item" href="#">Ethereum</a></li>
          <li><a class="dropdown-item" href="#">Polygon</a></li>
          <li><a class="dropdown-item" href="#">Optimism</a></li>
          <li><a class="dropdown-item" href="#">Arbitrum</a></li>
        </ul>
      </div>
      <div class="d-flex wallet-acc">
        <span> 0 ETH </span>
        <button class="btn" (click)="open()">
          {{walletAddress}}
          <span class="network-icon">
            <svg x="0" y="0" width="16" height="16"><rect x="0" y="0" width="16" height="16" transform="translate(0.057584851814189694 0.9716026089155987) rotate(124.5 8 8)" fill="#FB1851"></rect><rect x="0" y="0" width="16" height="16" transform="translate(8.069626184549632 -0.12864384828104541) rotate(534.5 8 8)" fill="#01808E"></rect><rect x="0" y="0" width="16" height="16" transform="translate(8.885680679797039 6.9690253912015185) rotate(67.2 8 8)" fill="#188CF2"></rect></svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</nav>
