<div class="modal-header border-0">
    <h5 class="modal-title">Account</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body pt-0 pb-4">
    <div class="info">
        <div class="d-flex justify-content-between align-items-center">
            <div class="linked-network">Connected with MetaMask</div>
            <div><button class="custom-btn">Change</button></div>
        </div>
        <div class="acc-address py-2">
            <span class="network-icon">
                <svg x="0" y="0" width="16" height="16"><rect x="0" y="0" width="16" height="16" transform="translate(0.057584851814189694 0.9716026089155987) rotate(124.5 8 8)" fill="#FB1851"></rect><rect x="0" y="0" width="16" height="16" transform="translate(8.069626184549632 -0.12864384828104541) rotate(534.5 8 8)" fill="#01808E"></rect><rect x="0" y="0" width="16" height="16" transform="translate(8.885680679797039 6.9690253912015185) rotate(67.2 8 8)" fill="#188CF2"></rect></svg>
              </span>            
            0xA18e...D4E9
        </div>
        <div class="d-flex justify-content-between align-items-center acc-links">
            <a href="#"><i class="fa fa-clone"></i> Copy Address</a>
            <a href="#" target="_blank"><i class="fa fa-external-link"></i> View on Explorer</a>
        </div>
    </div>
  </div>
  <div class="modal-footer justify-content-center py-3">
   Your transactions will appear here...
  </div>