<div class="stake-section" id="staking">
  <div class="container">
    <div class="row">
      <div *ngIf="!isConnected" class="connect-wallet-wrapper py-4">
        <div class="connect-wallet container">
          <button class="btn custom-btn px-4" (click)="connectToMetaMask()">
            Connect To Wallet
          </button>
        </div>
      </div>

      <div *ngIf="isConnected" class="stake-wrapper">
        <div class="container">
          <div class="account-balance row m-0">
            <div class="col-md-12">
              <div class="stake-3 bg-grey">
                <div class="font-2xl mb-2">Add Investor</div>

                <div class="inputDatas">
                  <div class="col-md-10 mx-auto">
                    <div class="form-group mb-3">
                      <input
                        [ngClass]="{'is-invalid': !isInvestorAddressValid() && invAddressTouched}"
                        type="text"
                        class="form-control px-3"
                        autocomplete="0"
                        placeholder="Investor Account Address"
                        [(ngModel)] = "investorAddress"
                        (keyup)="changeInvestorAddress($event)"
                      />
                      <div class="invalid-feedback text-start mx-auto px-3">
                        Invalid Address
                      </div>
                    </div>

                    <input
                      type="number"
                      class="form-control mb-3 px-3"
                      autocomplete="0"
                      placeholder="UnlockTime"
                      [(ngModel)] = "unlockTimeInput"
                      (keyup)="changeUnlockTime($event)"
                    />
                    <input
                      type="number"
                      class="form-control mb-3 px-3"
                      autocomplete="0"
                      min="1"
                      placeholder="TokenAmount"
                      [(ngModel)] = "unlockTokenAmount"
                      (keyup)="changeTokenAmount($event)"
                    />
                  </div>
                </div>
                <button (click)="addInvestor()" class="btn px-5 custom-btn">
                  Add
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
