<div class="stake-section" id="staking">
  <div class="container">
    <div class="row">
      <div *ngIf="!isConnected" class="connect-wallet-wrapper py-4">
        <div class="connect-wallet container">
          <button class="btn custom-btn px-4" (click)="connectToMetaMask()">
            Connect To Wallet
          </button>
        </div>
      </div>

      <div *ngIf="isConnected" class="stake-wrapper">
        <div class="container">
          <div class="account-balance row m-0">
            <div class="col-md-6 mb-4">
              <div class="stake-3 bg-grey">
                <div class="font-xl mb-2">Unlock Amount</div>

                <div class="inputDatas">
                  <div class="row justify-content-center">
                      <div class="col-12 col-md-9 mx-auto">
                        <div
                          class="font-xl"
                          *ngIf="unLockAmountShow"
                        >
                          {{ (unLockAmount / 1e18)+' Q2'}}
                      </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 mb-4">
              <div class="stake-3 bg-grey">
                <div class="font-xl mb-2">Unlock Time</div>

                <div class="inputDatas">
                  <div class="row justify-content-center">
                    <div class="col-12 col-md-9">
                      <div
                        *ngIf="unLockTimeShow"
                      >
                        <div class="counter-timing-section">
                          <div id="timer">
                            <button class="btn">{{timeLeft.days}}<span>Days</span></button>
                            <button class="btn">{{timeLeft.hours}}<span>Hrs</span></button>
                            <button class="btn">{{timeLeft.minutes}}<span>Min</span></button>
                            <button class="btn">{{timeLeft.seconds}}<span>Sec</span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-12 mb-4">
              <div class="stake-3 bg-grey">
                <div class="font-xl mb-2">WithDraw Tokens</div>
                <button (click)="unLockQ2()" class="btn px-4 custom-btn">
                  UnlockQ2
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
